{% extends "base.html" %}

{% block content %}
<a href="/register_asset?action=new"> Create new Asset </a> &nbsp &nbsp<a href="{{url_for('redirect_user')}}"> Return to Main Menu </a> <br><br>
            <div>
                <form action="manage_asset?pkval={{ obj.data[0].AssetID }}&action=update" method="POST">
                    <b>AssetID:</b>{{ obj.data[0].AssetID }}
                    <br>
                    <b>Parent Asset:</b><br>
                    <!--input type="text" name="ParentAsset" value="{{ obj.data[0].ParentAsset }}" /-->
                    <select name="ParentAsset">
                    {% for fo in obj.UPAsset %}
                        {% if  obj.data[0].ParentAsset == fo.value %}
                            <option selected="true" value="{{ fo.value }}">{{ fo.text }}</option>
                        {% else %}
                            <option value="{{ fo.value }}">{{ fo.text }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                    <br>
                    <b>Asset Tag:</b><br>
                    <input type="text" name="AssetTag" value="{{ obj.data[0].AssetTag }}" />
                    <br>
                    <b>Asset Type:</b><br>
                    <input type="text" name="AssetType" value="{{obj.data[0].AssetType}}" />
                    <br>
                    <br>
                    <input type="submit" value="Submit" />
                </form>
                
            </div>
{% endblock %}