{% extends "base.html" %}

{% block content %}
<br>
<a href="/wo/list_wo">Return to Work Order List</a>&nbsp &nbsp <a href="/main_menu">Return to Main Menu</a><br>
<h1 style="background-color:powderblue;">Add a Work Order Message</h1>
            <div style="color:red;">
                {% if obj.errors|length > 0 %}
                    {% for error in obj.errors  %}
                        <div>{{ error }}</div>
                    {% endfor %}
				{% endif %}
            </div>
            <div>
                <form action="/wocomms/manage_comm?action=insert" method="POST">
                    Message:<br>
                    <textarea id="AddMessage" name="Message" rows="4" cols="50" placeholder="Enter message here"></textarea><br>
                    <br>
                    <button type ="submit" value = "Submit" > Submit</button> &nbsp &nbsp 
                    
                </form>
                
            </div>
{% endblock %}