{% extends "base.html" %}

{% block content %}
<h1 style="background-color:powderblue;">Work Order Message List</h1>
<h3><b>Communications for Work Order #{{ comm.data[0].WkOrdID }}</b></h3>
        <font color="#9900FF"> <b><i>There are no messages for this work order.</i></b></font>
        <br>
            <br>
            <a href="/wocomms/manage_comm?pkval=new">Add a Message</a>  &nbsp &nbsp
            <a href="/wo/list_wo"><b>Return to Work Order List</b></a>&nbsp &nbsp <a href="/main_menu">Return to Main Menu</a><br><br>
            </div>
{% endblock %}
<br>
<br>