{% extends "base.html" %}

{% block content %}
<h1 style="background-color:powderblue;">Work Order Message List</h1>
<h3><b>Communications for Work Order #{{ comm.data[0].WkOrdID }}</b></h3>
        <table>
            <tr>
                <th> Message Date </th>
                <th> Message </th>
                <th> From </th>            
            </tr>
            <div>
            {% for obj in comm.data  %}
            <tr>  
                <td>{{ obj.CommDate }} </td>
                <td>{{ obj.Message }} </td>
                <td>{{ obj.FName }} {{ obj.LName }}</td>
            </div></td>
            </tr>
            {% endfor %}
        </div>
        </table><br>
            <br>
            <a href="/wocomms/manage_comm?pkval=new">Add a Message</a> &nbsp &nbsp
            <a href="/wo/list_wo"><b>Return to Work Order List</b></a>&nbsp &nbsp <a href="/main_menu">Return to Main Menu</a><br><br>
            </div>
{% endblock %}
<br>
<br>