{% extends "base.html" %}

{% block content %}
<h1 style="background-color:powderblue;">Work Order List</h1>
WO# | Requested Date | Status | Requester | Asset 
       <br>
            <div>
                {% for obj in wo.data  %}
					<div> 
                    <a href="/wo/manage?pkval={{ obj.WorkOrderID }}">{{ obj.WorkOrderID }}</a> | {{ obj.RequestDate }} |
                    {{ obj.Status }} | {{ obj.RequesterID }} | {{ obj.AssetID }}
                    </div>
				{% endfor %}
                <a href="/wo/manage?pkval=new">Create New Work Order</a><br>        <a href="/wo/manage?pkval=new">Create New Work Order</a><br>
            </div>
{% endblock %}