{% extends "base.html" %}

{% block content %}
            <div>
                <form method="POST" action="manage_wo">
                    Where is the problem? Or what item has a problem?<br>
                    <input type="text" name="AssetID" required/>
                    <br>
                    Problem/Issue:<br>
                    <textarea id="addwoiss" name="Issue" rows="4" cols="50">
                    
                    </textarea><br>
                    <!-- Click to reset fields -->  
                    <button type = "reset" value = "Reset" >Reset</button>  
                    <!-- Need a Submit button-->
                    <button type ="submit" value = "Submit" > Submit</button>
                </form>
            </div>
{% endblock %}