{% extends "base.html" %}

{% block content %}
<h1 style="background-color:powderblue;">New Work Order</h1>
<h3> Create a Work Order #{{ wo.data[0].WorkOrderID }}</h3>
            <div>
                <form method="POST" action="manage_wo">
                    Requester: <input type="text" name="RequesterID" required/><br>
                    Location/Asset: <input type="text" name="AssetID" required/><br>                    
                    Problem/Issue:<br>
                    <textarea id="addwoiss" name="Issue" rows="4" cols="50">
                    </textarea><br>
                    Technician: <input type="text" name="TechnicianID" required/><br>
                    Problem Code: <input type="text" name="ProblemID" required/><br> <br> 
                    <!-- Need a Submit button-->
                    <button type ="submit" value = "Submit" > Submit</button>
                    <!-- Click to reset fields -->  
                    <button type = "reset" value = "Reset" >Reset</button> <br><br>
                    <a href="/main_menu">Return to Main Menu</a><br>
                </form>
            </div>
{% endblock %}