{% extends "base.html" %}

{% block content %}
            <div style="color: red">
                {% if wo.errors|length > 0 %}
                    {% for e in wo.errors  %}
                        <div>{{ e }}</div>
                    {% endfor %}
				{% endif %}
            </div>
            <div>
                <form method="POST" action="manage?action=insert">
                    Where is the problem? Or what item has a problem?<br>
                    Location/Asset: <input type="text" name="AssetID" required/>
                    <br>
                    Problem/Issue:<br>
                    <textarea id="addwoiss" name="Issue" rows="4" cols="50">
                    </textarea><br>
                    <!-- Need a Submit button-->
                    <button type ="submit" value = "Submit" > Submit</button>
                    <!-- Click to reset fields -->  
                    <button type = "reset" value = "Reset" >Reset</button>  
                </form>
            </div>
{% endblock %}