{% extends "base.html" %}

{% block content %}
<br>
<a href="/main_menu">Return to Main Menu</a><br>
<h1 style="background-color:powderblue;">New Work Order</h1>
<h3> Create a Work Order #{{ wo.data[0].WorkOrderID }}</h3>
            <div>
                <form method="POST" action="manage?action=insert">
                    Requester:
                    <select name="RequesterID">
                        {% for fo in wo.RID %}
                            <option value="{{ fo.value }}">{{ fo.text }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    Location/Asset:
                    <select name="AssetID">
                        {% for fo in wo.AID %}
                            <option value="{{ fo.value }}">{{ fo.text }}</option>
                        {% endfor %}
                    </select>
                    <br>                    
                    Problem/Issue:<br>
                    <textarea id="addwoiss" name="Issue" rows="4" cols="50" placeholder="Enter description of problem"></textarea><br>
                    </textarea><br>
                    Technician:
                    <select name="TechnicianID">
                        {% for fo in wo.TID %}
                            <option value="{{ fo.value }}">{{ fo.text }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    Shop:<select name="Shop">
						<option value=None {% if wo.data[0].Shop==None %} selected="selected"{% endif %}>Please Choose A Shop</option>                        
						<option value="Carpentry"{% if wo.data[0].Shop=="Carpentry" %} selected="selected"{% endif %}>Carpentry</option>
                        <option value="Electrical"{% if wo.data[0].Shop=="Electrical" %} selected="selected"{% endif %}>Electrical</option>
                        <option value="HVAC"{% if wo.data[0].Shop=="HVAC" %} selected="selected"{% endif %}>HVAC</option>
                        <option value="Janitorial"{% if wo.data[0].Shop=="Janitorial" %} selected="selected"{% endif %}>Janitorial</option>
                        <option value="Locksmith"{% if wo.data[0].Shop=="Locksmith" %} selected="selected"{% endif %}>Locksmith</option>
                        <option value="Management"{% if wo.data[0].Shop=="Management" %} selected="selected"{% endif %}>Management</option>
                        <option value="Plumbing"{% if wo.data[0].Shop=="Plumbing" %} selected="selected"{% endif %}>Plumbing</option>
					</select>
                    <br>
                    Problem Code:
                    <select name="ProblemID">
                        {% for fo in wo.PID %}
                            <option value="{{ fo.value }}">{{ fo.text }}</option>
                        {% endfor %}
                    </select>
                    <br><br> 
                    <!-- Need a Submit button-->
                    <button type ="submit" value = "Submit" > Submit</button>
                    <!-- Click to reset fields -->  
                    <button type = "reset" value = "Reset" >Reset</button> <br><br>
                    
                </form>
            </div>
{% endblock %}