{% extends "base.html" %}

{% block content %}
<a href="/wo/manage?pkval=new">Create New Work Order</a> &nbsp &nbsp   <a href="/main_menu">Return to Main Menu</a><br>
<h1 style="background-color:powderblue;">Work Order List</h1>
<h3> Work Orders Requested by {{me.UserFirstName}} {{me.UserLastName}} </h3>

    <table>
        <tr>
            <th> Work Order #</th>
            <th> Requested Date </th>
            <th> Issue </th>
            <th> Status</th>
        </tr>
        <div>
        {% for obj in wo.data  %}
        <tr>  
        <td> <div> <a href="/wo/manage?pkval={{ obj.WorkOrderID }}"> {{ obj.WorkOrderID }} </a> </td>
            <td>{{ obj.RequestDate }} </td>  
            <td>{{ obj.Issue }} </td> 
            <td>{{ obj.Status }} </td> 
        </div></td>
        </tr>
        {% endfor %}
        </div>
        </table><br>
    </div>
{% endblock %}