{% extends "base.html" %}

{% block content %}
        WO# | Requested Date | Status | Requester | Asset |  <br>
            <div>
                {% for obj in wo.data  %}
					<div> 
                    <a href="/wo/manage?pkval={{ obj.WorkOrderID }}">{{ obj.WorkOrderID }}</a> | {{ obj.RequestDate }} |
                    {{ obj.Status }} | {{ obj.RequesterID }} | {{ obj.AssetID }}
                    </div>
				{% endfor %}
                <a href="/wo/manage?pkval=new">Create New Work Order</a><br>
                Return to Option Page <i><b>Need to add code to return to the right user option page</b></i>
            </div>
{% endblock %}