{% extends "base.html" %}

{% block content %}
<h1 style="background-color:powderblue;">Work Order List</h1>
<h3> Work Orders Requested by {{me.UserFirstName}} {{me.UserLastName}} </h3>
WO# | Date | Issue | Status | Asset 
       <br>
            <div>
                {% for obj in wo.data  %}
					<div> 
                    <a href="/wo/manage?pkval={{ obj.WorkOrderID }}">{{ obj.WorkOrderID }}</a> | {{ obj.RequestDate }} |
                    {{ obj.Issue }} || {{ obj.Status }} || {{ obj.AssetID }}
                    </div>
				{% endfor %}
                <a href="/wo/manage?pkval=new">Create New Work Order</a> &nbsp &nbsp   <a href="/wo/manage">Return to Options</a><br>
            </div>
{% endblock %}