{% extends "base.html" %}

{% block content %}
<br>
<a href="/wo/manage?pkval=new">Create New Work Order</a> &nbsp &nbsp   <a href="/main_menu">Return to Main Menu</a><br>
<h1 style="background-color:powderblue;">Work Order List</h1>
<h3> All Work Orders </h3>
    <table>
        <tr>
            <th> Work Order #</th>
            <th> Requested Date </th>
            <th> Requester </th>
            <th> Asset </th>
            <th> Issue </th>            
            <th> Status</th>
            <th> Technician</th>
        </tr>
        <div>
        {% for obj in wo.data  %}
        <tr>  
        <td> <div> <a href="/wo/manage?pkval={{ obj.WorkOrderID }}"> {{ obj.WorkOrderID }} </a> </td>
            <td>{{ obj.RequestDate }} </td>  
            <td>{{ obj.RFName }} {{ obj.RLName }}</td> 
            <td>{{ obj.AssetTag }} </td>
            <td>{{ obj.Issue }} </td>
            <td>{{ obj.Status }} </td>
            <td>
            {% if obj.TFName is not none %}
                {{ obj.TFName }} {{ obj.TLName }}
            {% else %}
                <span style="color:rgb(129, 129, 124)">Not Assigned</span>
            {% endif %}    
                </td>  
        </div></td>
        </tr>
        {% endfor %}
        </div>
        </table><br>
 
    {% endblock %}