{% extends "base.html" %}

{% block content %}
            <div>
                <form action="/wo/manage?pkval={{ obj.data[0].id }}&action=update" method="POST">
                    <b>Work Order ID: {{ obj.WorkOrderID }}</b><br>
                    Reported Issue:<br>
                    <input type="text" size=100 name="Issue" value="{{ obj.data[0].Issue }}" />
                    <br>
                    Requester:<br>
                    <input type="text" name="RequesterID" value="{{ obj.data[0].RequesterID }}" />
                    <br>
                    Location/Asset:<br>
                    <input type="text" name="AssetID" value="{{ obj.data[0].AssetID }}" />
                    <br>
                    Work Order Status:<br>
                    <input type="text" name="Status" value="{{ obj.data[0].Status }}" />
                    <br>
                    Assigned Technician:<br>
                    <input type="text" name="Status" value="{{ obj.data[0].TechnicianID }}" />
                    <br>
                    Facilities Shop:<br>
                    <input type="text" name="Shop" value="{{ obj.data[0].Shop }}" />
                    <br>
                    Solution:<br>
                    <input type="text" name="Solution" value="{{ obj.data[0].Solution }}" />
                    <br>
                    Labor Hours:<br>
                    <input type="text" name="LaborHours" value="{{ obj.data[0].LaborHours }}" />
                    <br>
                    <br>
                    <input type="submit" value="Submit" />
                </form>
                
            </div>
{% endblock %}