{% extends "base.html" %}

{% block content %}
<h1 style="background-color:powderblue;">Work Order Summary</h1>
<h3> Summary of Work Order #{{ wo.data[0].WorkOrderID }}</h3>
            <div>
				<b>Date Entered:</b> {{ wo.data[0].RequestDate }}<br>
				<b>Status:</b> {{ wo.data[0].Status }}<br>
				<b>Location/Asset:</b> {{ wo.data[0].AssetType }} > {{ wo.data[0].Asset }}<br>
				<b>Reported Problem:</b> {{ wo.data[0].Issue }}<br>
				<b>Technician:</b> {{ wo.data[0].TFName }} {{ wo.data[0].TLName }}<br>
				<b>Solution:</b> {{ wo.data[0].Solution }}<br><br>

				<a href="/wocomms/list_comms?woid={{ wo.data[0].WorkOrderID }}"><b>View/Add Work Order Messages</b></a> &nbsp &nbsp
				<a href="/wo/list_wo"><b>Return to Work Order List</b></a>&nbsp &nbsp
				<a href="/main_menu">Return to Main Menu</a><br><br>
			</div>
{% endblock %}