{% extends "base.html" %}

{% block content %}
<a href="/wocomms/list_comms?pkval={{ wo.data[0].WorkOrderID }}"><b>Add\View Work Order Messages</b></a> &nbsp &nbsp<a href="/wo/list_wo"><b>Return to Work Order List</b></a>
<h1 style="background-color:powderblue;">Work Order Summary</h1>
<h3> Summary of Work Order #{{ wo.data[0].WorkOrderID }}</h3>
<i>To close a work order, enter a solution, add labor hours, and change the status to Complete.<br>
   Update other details as necessary.</i><br><br>
            <div>
                <form action="/wo/manage?pkval={{ wo.data[0].WorkOrderID }}&action=alter" method="POST">
				<b>Date Entered:</b> {{ wo.data[0].RequestDate }}<br>
				<b>Requester:</b> {{ wo.data[0].RFName }} {{ wo.data[0].RLName }}<br>
				<b>Location/Asset:</b>
				<select name="AssetID">
					{% for fo in wo.AID %}
						{% if  wo.data[0].AssetID == fo.value %}
							<option selected="true" value="{{ fo.value }}">{{ fo.text }}</option>
						{% else %}
							<option value="{{ fo.value }}">{{ fo.text }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<br>
				<b>Reported Problem:</b> {{ wo.data[0].Issue }}<br>
				<b>Status:</b>
				<select name="Status">
					<option value="Open"{% if wo.data[0].Status=='Open' %} selected="selected"{% endif %}>Open</option>
					<option value="On-Hold"{% if wo.data[0].Status=="On-Hold" %} selected="selected"{% endif %}>On-Hold</option>
					<option value="Complete"{% if wo.data[0].Status=="Complete" %} selected="selected"{% endif %}>Complete</option>
					<option value="Canceled"{% if wo.data[0].Status=="Canceled" %} selected="selected"{% endif %}>Canceled</option>
				</select><br>
				<b>Problem Code:</b>
				<select name="ProblemID">
					{% for fo in wo.PID %}
						{% if  wo.data[0].ProblemID == fo.value %}
							<option selected="true" value="{{ fo.value }}">{{ fo.text }}</option>
						{% else %}
							<option value="{{ fo.value }}">{{ fo.text }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<br>
				<b>Hours Spent:</b> <input type="text" name="LaborHours" value="{{ wo.data[0].LaborHours }}" /><br>
				<b>Solution:</b><br>
				<input type="text" name="Solution" value="{{ wo.data[0].Solution }}" size="100"/>
				<br>
				<br>

				<input type="submit" value="Submit" /> &nbsp &nbsp 
			</div>
{% endblock %}