{% extends "base.html" %}

{% block content %}
<a href="/wo/list_wo"><b>Return to Work Order List</b></a>&nbsp &nbsp <a href="/main_menu">Return to Main Menu</a><br>
<h1 style="background-color:powderblue;">Work Order Summary</h1>
<h3> Summary of Work Order #{{ wo.data[0].WorkOrderID }}</h3>
            <div>
				<b>Date Entered:</b> {{ wo.data[0].RequestDate }}<br>
				<b>Requester:</b> {{ wo.data[0].RFName }} {{ wo.data[0].RLName }}<br>
				<b>Location/Asset:</b> {{ wo.data[0].Asset}} - {{ wo.data[0].AssetType}}<br>
				<b>Reported Problem:</b> {{ wo.data[0].Issue }}<br>
				<b>Technician:</b> {{ wo.data[0].TFName}} {{ wo.data[0].TFName}}<br>
				<b>Status:</b> {{ wo.data[0].Status }}<br>
				<b>Problem Code:</b> {{ wo.data[0].PCode }} - {{ wo.data[0].ProblemDesc }}<br>
				<b>Hours Spent:</b> {{ wo.data[0].LaborHours }}<br>
				<b>Solution:</b> {{ wo.data[0].Solution }}<br>

				<a href="/wocomms/list_comms?pkval={{ wo.data[0].WorkOrderID }}"><b>Work Order Messages</b></a> &nbsp &nbsp
				<a href="/wo/manage?pkval={{ wo.data[0].WorkOrderID }}">Assign Tech/Problem Code And/Or Close Work Order</a><br><br>
				<br>
			</div>
{% endblock %}