{% extends "base.html" %}

{% block content %}
<a href="/probs/manage">Return to Problem Code List</a> &nbsp &nbsp  <a href="/main_menu">Return to Main Menu</a><br>
<h1 style="background-color:powderblue;">Problem Code Summary</h1>
<h3> Summary of Problem Code {{ prob.data[0].ProblemCode }}</h3>
            <div>
                <form action="/probs/manage?pkval={{ prob.data[0].ProblemID }}&action=update" method="POST">
                    Problem Description:<br>
                    <input type="text" name="ProblemDesc" value="{{ prob.data[0].ProblemDesc }}" size="50" />
                    <br>
                    Facilities Shop:<br>
                    <select name="Shop">
						<option value="Carpentry"{% if prob.data[0].Shop=="Carpentry" %} selected="selected"{% endif %}>Carpentry</option>
                        <option value="Electrical"{% if prob.data[0].Shop=="Electrical" %} selected="selected"{% endif %}>Electrical</option>
                        <option value="HVAC"{% if prob.data[0].Shop=="HVAC" %} selected="selected"{% endif %}>HVAC</option>
                        <option value="Janitorial"{% if prob.data[0].Shop=="Janitorial" %} selected="selected"{% endif %}>Janitorial</option>
                        <option value="Locksmith"{% if prob.data[0].Shop=="Locksmith" %} selected="selected"{% endif %}>Locksmith</option>
                        <option value="Management"{% if prob.data[0].Shop=="Management" %} selected="selected"{% endif %}>Management</option>
                        <option value="Plumbing"{% if prob.data[0].Shop=="Plumbing" %} selected="selected"{% endif %}>Plumbing</option>
					</select>
                    <br>
                    <br>
                    <input type="submit" value="Submit" />
                </form>
                
            </div>
            <div>
                <br><br>
            </div>
{% endblock %}