<html>
        <head>
            <title>Work Order System</title>
            <link rel="stylesheet" type="text/css" href="static/style.css">
            
        </head>
        <body>
            
            <div>
                <img src="Cu.png" width="1410px" height="100px"> 
            </div>
            <a href="{{url_for('home')}}" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out"></span> Logout </a>
            <br>
            <br>
            <div> {{ msg }} </div>
		{% block content %}{% endblock %}
        
		</body>
    </html>