{% extends "base.html" %}

{% block content %}
            <div>
                <form action="/users/manage?action=insert" method="POST">
                    First Name:<br>
                    <input type="text" name="User FN" value="{{ obj.data[0].User FN }}" />
                    <br>

                    Last Name:<br>
                    <input type="text" name="User LN" value="{{ obj.data[0].User LN }}" />
                    <br>

                    Email:<br>
                    <input type="text" name="User Username" value="{{ obj.data[0].User Username }}" />
                    <br>

                    Password:<br>
                    <input type="password" name="password" value="" />
                    <br>

                    Retype Password:<br>
                    <input type="password" name="password" value="" />
                    <br>

                    Phone Number:<br>
                    <input type="text" name="Phone Number" value="{{ obj.data[0].Phone Number }}" />
                    <br>

                    Shop:<br>
                    <input type="text" name="Shop" value="{{ obj.data[0].Shop }}" />
                    <br>

                    Role:<br>
                    <input type="text" name="role" value="{{ obj.data[0].role }}" />
                    <br>

                    Asset ID:<br>
                    <input type="text" name="User Location/AssetID" value="{{ obj.data[0].User Location/AssetID }}" />
                    <br>
                    <input type="submit" value="Submit" />
                </form>
                
            </div>
{% endblock %}