<!DOCTYPE html>
<html lang="'en">

<head>
    <style>
        body {
        font-family: arial;
      }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Home </title>
</head>
<body>
    <p>
    <div>
        <img src="Cu.png" width="1900px" height="100px"> 
    </div>
    <a href="{{url_for('home')}}" class="btn btn-info btn-lg">Return to Home Page</a>
    <centre>

    <h1 style="background-color:powderblue;">Clarkson Work Order System</h1>
    <div> {{ msg }} </div>
                <form method="POST" action="manage_user?action=new">
                    First Name:<br>
                    <input type="text" name="UserFirstName" required/>
                    <br>

                    Last Name:<br>
                    <input type="text" name="UserLastName"  required/>
                    <br>

                    Email Address:<br>
                    <input type="text" size="20" name="Username" placeholder="Your Email Address.." required/>
                    <br>

                    Password:<br>
                    <input type="password" class='password' name="Password" required/>
                    <br>

                    Re-type Password:<br>
                    <input type="password" class='confirmpassword' name="ConfirmPassword" required/>
                    <br>

                    Phone Number:<br>
                    <input type="number" size='12' name="PhoneNumber"  required/>
                    <br>

                    Location:<br>
                    <select name="LocationID" >
                             
                        {% for fo in obj1.fo %}
                            <option value="{{ fo.value }}">{{ fo.text }}</option>
                        {% endfor %}
                    </select><br>
                    <i><span style="color:rgb(185, 9, 6)"><font size="2">Location not pertinent for Technicians, may be skipped</font></span></i>
            

                    <br>
                    <br>
                    <button type = "submit" id=submit >Submit</button>  
  
                    <button type = "reset" value = "Reset" >Reset</button>  

                </form>
            </div>
        </p>
    </style>
    </body>
    </html>