{% extends "base.html" %}

{% block content %}
            <div>
                <form method="POST" action="manage_user">
                    First Name:<br>
                    <input type="text" name="UserFirstName" required/>
                    <br>

                    Last Name:<br>
                    <input type="text" name="UserLastName"  required/>
                    <br>

                    Email Address:<br>
                    <input type="email" size="20" name="Username" placeholder="Your Email Address.." required/>
                    <br>

                    Password:<br>
                    <input type="password" class='password' name="password" required/>
                    <br>

                    Re-type Password:<br>
                    <input type="password" class='confirmpassword' name="confirmpassword" required/>
                    <br>

                    Phone Number:<br>
                    <input type="text" size='12' name="PhoneNumber"  required/>
                    <br>

                    <input type="submit" value="Submit" />
                </form>
            </div>
{% endblock %}