<!DOCTYPE html>
<html lang="'en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Home </title>
</head>

<body>
    <h1 style="background-color:powderblue;">Welcome, {{user.data[0]['User FN']}} {{user.data[0]['User LN']}}</h1>
    <h2> Please Choose an Option </h2>
    <a href="">Report a Problem</a><br>
    <a href="">Update Your Account</a><br>
    <a href="">Review Work Orders</a><br>
    <a href="">Add a Message to an Open Work Order</a><br><br>
    <button type = "submit" id=logout formaction="{{url_for('home')}}">Logout</button>  
   



</body>

</html>