<!DOCTYPE html>
<html lang="'en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Home </title>
</head>

<body>
    <h1> Clarkson Work Order System. </h1>
    <div> {{ msg }} </div>
    <form method="POST" action="manage_user">
        Username:<br>
        <input type="text" name="Username" />
        <br>  
        Password:<br>
        <input type="Password" name="Password" />
        <br>
        <button type = "submit" id=submit formaction="{{url_for('login_user')}}">Login</button>  
    </form>
    <br>
    <a href="{{url_for('register')}}">Don't have an account? Sign Up </a>


</body>

</html>