{% extends "base.html" %}

{% block content %}
<br>
                <table>
                    <tr>
                        <th> User ID </th>
                        <th> Username </th>
                        <th> User First Name </th>
                        <th> User Last Name</th>
                        <th> Role </th>
                        <th> Phone Number </th>
                    </tr>
                <div>
               {% for user in obj.data  %}
                <tr>  
                <td> <div> <a href="/users/manage_user?pkval={{ obj.UserID }}"> {{ user.UserID}} </a> </td>
                    <td>{{ user.Username }} </td>  
                    <td>{{ user.UserFirstName }} </td> 
                    <td>{{ user.UserLastName }} </td> 
                    <td>{{ user.Role }} </td>
                    <td>{{ user.PhoneNumber }} </td> 
                </div></td>
                </tr>
                
				{% endfor %}
                
                </div>
                </table>
                <br>
                <p>
                <a href="/users/redirect_user?action=manager"> Home </a> </p>
                <a href="{{url_for('logout')}}" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-log-out"></span> Log out </a>
{% endblock %}