{% extends "base.html" %}

{% block content %}
<a href="manager_option.html"> Home </a>
<br>
<br>
<br>
                <table>
                    <tr>
                        <th> User ID </th>
                        <th> Username </th>
                        <th> User First Name </th>
                        <th> User Last Name</th>
                        <th> Role </th>
                        <th> Phone Number </th>
                    </tr>
                <div>
               {% for user in obj.data  %}
                <tr>  
                <td> <div> <a href="/users/manage_user?pkval={{ obj.UserID }}"> {{ user.UserID}} </a> </td>
                    <td>{{ user.Username }} </td>  
                    <td>{{ user.UserFirstName }} </td> 
                    <td>{{ user.UserLastName }} </td> 
                    <td>{{ user.Role }} </td>
                    <td>{{ user.PhoneNumber }} </td> 
                </div></td>
                </tr>
				{% endfor %}
                
                </div>
                </table>
{% endblock %}