{% extends "base.html" %}

{% block content %}   
    <h1 style="background-color:powderblue;">Welcome, {{me.UserFirstName}} {{me.UserLastName}} </h1>
    
    <h2> Please Choose an Option </h2>
    <a href="/wo/list_wo">Review Work Orders</a><br>
    <a href="/list_users">Manage Users</a><br>
    <a href="/list_technician">List Technicians</a><br>
    <a href="/list_assets">List Assets</a><br>
    <a href="/probs/manage">List Problem Codes</a><br>
    <a href="/wo/manage?pkval=new">Report a Problem</a><br><br>
    
</body>
</html>
{% endblock %}