{% extends "base.html" %}

{% block content %}
<a href="/main_menu">Return to Main Menu</a><br><br>
            <div style="color:green;">
                {% if user.errors|length > 0 %}
                    {% for error in user.errors  %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <form action="manage_user?pkval={{user.data[0].UserID}}&action=update" method="POST">
                    First Name:<br>
                    <input type="text" name="UserFirstName" value="{{ user.data[0].UserFirstName }}" />
                    <br>

                    Last Name:<br>
                    <input type="text" name="UserLastName" value="{{ user.data[0].UserLastName }}" />
                    <br>

                    Email:<br>
                    <input type="text" name="Username" value="{{ user.data[0].Username}}"/>
                    <br>

                    Password:<br>
                    <input type="password" name="Password" value="" />
                    <br>

                    Retype Password:<br>
                    <input type="password" name="ConfirmPassword" value="" />
                    <br>
                    Phone Number:<br>
                    <input type="number" name="PhoneNumber" value="{{ user.data[0].PhoneNumber}}" />
                    <br>
                    Location:<br>
                    <select name="LocationID">
                        {% for fo in obj1.fo %}
                            {% if  user.data[0].LocationID == fo.value %}
                                <option selected="true" value="{{ fo.value }}">{{ fo.text }}</option>
                            {% else %}
                                <option value="{{ fo.value }}">{{ fo.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select> <br>
                    <i><span style="color:rgb(185, 9, 6)"><font size="2">Location not pertinent for Technicians</font></span></i><br>
                    <input type="submit" value="Submit" /> &nbsp &nbsp 
                </form>
                
            </div>
            <div>
                <br><br>
            </div>
{% endblock %}