{% extends "base.html" %}

{% block content %}
<a href="/main_menu">Return to Main Menu</a><br><br>
            <div style="color:green;">
                {% if user.errors|length > 0 %}
                    {% for error in user.errors  %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <form action="manage_user?action=update&pkval={{user.data[0].UserID}}" method="POST">
                    First Name:<br>
                    <input type="text" name="UserFirstName" value="{{ user.data[0].UserFirstName }}" />
                    <br>

                    Last Name:<br>
                    <input type="text" name="UserLastName" value="{{ user.data[0].UserLastName }}" />
                    <br>

                    Email:<br>
                    <input type="text" name="Username" value="{{ user.data[0].Username}}"/>
                    <br>

                    Phone Number:<br>
                    <input type="number" name="PhoneNumber" value="{{ user.data[0].PhoneNumber}}" />
                    <br>
                    Password:<br>
                    <input type="password" name="Password" value="{{user.data[0].Password}}" readonly/>
                    <br>

                    Retype Password:<br>
                    <input type="password" name="ConfirmPassword" value="{{user.data[0].Password}}" readonly />
                    <br>
                    Location:<br>
                    <select name="LocationID", aria-placeholder="Select">
                        <option value="" disabled selected>Select Your Option</option>
                        {% for fo in obj1.fo %}
                            {% if  obj1.data[0].AssetID == fo.value %}
                                <option selected="true" value="{{ fo.value }}">{{ fo.text }}</option>
                            {% else %}
                                <option value="{{ fo.value }}">{{ fo.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    Role:<br>
                    <select name="Role" value="{{user.data[0].Role}}">
                            <option>Please Choose</option>
                            <option >Requester</option>
                            <option >Technician</option>
                            <option >Manager</option>
                        </select><br>
                    
                    Shop:<br>
                    <select name="Shop" value="{{user.data[0].Shop}}">
                            <option >Please Choose</option>
                            <option >Carpentry</option>
                            <option >Electrical</option>
                            <option >Locksmith</option>
                            <option >Janitorial</option>
                            <option >HVAC</option>
                            <option >Plumbing</option>
                            <option >Management</option>
                          </select>
                    <br>
                    <input type="submit" value="Submit" /> 
                </form>
                
            </div>
            <div>
                <br><br>
            </div>
{% endblock %}