{% extends "base.html" %}

{% block content %}
            <div style="color:green;">
                {% if user.errors|length > 0 %}
                    {% for error in user.errors  %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <form action="manage_user?pkval={{user.data[0].UserID}}&action=update" method="POST">
                    First Name:<br>
                    <input type="text" name="UserFirstName" value="{{ user.data[0].UserFirstName }}" />
                    <br>

                    Last Name:<br>
                    <input type="text" name="UserLastName" value="{{ user.data[0].UserLastName }}" />
                    <br>

                    Email:<br>
                    <input type="text" name="Username" value="{{ user.data[0].Username}}"/>
                    <br>

                    Phone Number:<br>
                    <input type="number" name="PhoneNumber" value="{{ user.data[0].PhoneNumber}}" />
                    <br>
                    Password:<br>
                    <input type="password" name="Password" value="{{user.data[0].Password}}" readonly/>
                    <br>

                    Retype Password:<br>
                    <input type="password" name="ConfirmPassword" value="{{user.data[0].Password}}" readonly />
                    <br>
                    Location:<br>
                    <select name="LocationID" value="{{user.data[0].LocationID}}">
                        <option >Please Choose</option>
                        <option >Location1</option>
                        <option >Location2</option>
                        <option >Location3</option>
                      </select>
                    <br>
                    Role:<br>
                    <select name="Role" value="{{user.data[0].Role}}">
                            <option>Please Choose</option>
                            <option >Requester</option>
                            <option >Technician</option>
                            <option >Manager</option>
                        </select><br><br>
                    <input type="submit" value="Submit" />
                </form>
                
            </div>
            <div>
                <br><br>
            </div>
{% endblock %}